@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#CCCCCC));
  background-image: linear-gradient(180deg, #E0E0E0, #CCCCCC);
  font-size: 1.2em;
  text-align: center;
  color: #3A606E;
  font-family: 'Roboto', sans-serif;
}

input,
select {
  padding: 0.3em;
  background-color: #E0E0E0;
  border-radius: 5px;
}

input:hover, input:active, input:focus,
select:hover,
select:active,
select:focus {
  background-color: #fff;
}

input:focus,
select:focus {
  outline-color: #3A606E;
}

#title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3A606E), to(#467586));
  background-image: linear-gradient(180deg, #3A606E, #467586);
  padding: 10px;
  color: #E0E0E0;
  font-size: 2em;
}

#description {
  margin: 1rem;
  font-size: 1em;
}

hr.rounded {
  margin: 2em 1em;
}

#first-section {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-section > label {
  font-weight: bold;
}

#name,
#email {
  width: 300px;
  max-width: 90%;
}

#number {
  margin-bottom: 7px;
  width: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px 10px 0px;
}

.radio-choice {
  margin: 1em;
}

.radio-choice label {
  font-size: 1em;
}

.radio-choice input {
  cursor: pointer;
  accent-color: #3A606E;
  width: 1.2em;
  height: 1.2em;
}

.radio-choice input:checked + label {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#favorite-service {
  font-size: 1.4em;
  font-weight: bold;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#dropdown {
  width: 300px;
  max-width: 90%;
  text-align: center;
  margin: 1em;
  border-radius: 5px;
}

#checkbox-area {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-choice {
  font-size: 1em;
}

.checkbox-choice input {
  cursor: pointer;
  accent-color: #3A606E;
}

.checkbox-choice input:checked + label {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#preferences-title {
  font-size: 1.4em;
  margin: 1em;
  font-weight: bold;
}

#preferences {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 0.8em;
  grid-column-gap: 2em;
}

#textarea-section {
  height: 10em;
}

#textarea-title {
  padding-top: 14px;
}

#textarea {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  max-width: 90%;
  height: 8em;
  padding: 0.3em;
  background-color: #E0E0E0;
  border-radius: 5px;
}

#textarea:hover, #textarea:active, #textarea:focus {
  background-color: #fff;
}

#textarea:focus {
  outline-color: #3A606E;
}

#submit {
  background-color: #607B7D;
  color: #E0E0E0;
  padding: 7px;
  font-size: 17px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 1em;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 5px;
}

#submit:hover, #submit:focus {
  background-color: #3A606E;
  color: #fff;
}

@media screen and (min-width: 551px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3A606E), to(#467586));
    background-image: linear-gradient(180deg, #3A606E, #467586);
  }
  #main {
    width: 550px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#CCCCCC));
    background-image: linear-gradient(180deg, #E0E0E0, #CCCCCC);
    display: block;
    margin: 1em auto;
    border-radius: 10px;
  }
  #title {
    background-image: -webkit-gradient(linear, left top, right top, from(#89adb9), color-stop(#E0E0E0), to(#89adb9));
    background-image: linear-gradient(90deg, #89adb9, #E0E0E0, #89adb9);
    color: #3A606E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #description {
    font-size: 0.8em;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  #submit {
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
}
/*# sourceMappingURL=style.css.map */