@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');

$text-color: #3A606E;
$background-color: #E0E0E0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, $background-color, #CCCCCC);
    font-size: 1.2em;
    text-align: center;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

#title {
    background-image: linear-gradient(180deg, $text-color, #467586);
    padding: 10px;
    color: $background-color;
    font-size: 2em;
}

#description {
    margin: 1rem;
}

hr.rounded {
    margin: 2em 0em;
}

#first-section {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-section > label {
    font-weight: bold;
}

#name {
    width: 300px;
    max-width: 90%;
}

#email {
    width: 300px;
    max-width: 90%;
}

#number {
    margin-bottom: 7px;
}

#radio {
    display: flex;
    justify-content: center;
    padding: 5px 0px 10px 0px;
}

.radio-choice {
    margin: 1em;
}

.radio-choice > label {
    font-weight: bold;
}

#favorite-service {
   font-size: 20px;
   font-family: monospace;
   height: 10em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#dropdown {
    width: 300px;
    max-width: 90%;
    text-align: center;
    margin: 1em;
}

#checkbox-area {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#preferences-title {
    font-size: 16px;
    margin: 1em;
}

#preferences {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0.8em;
    grid-column-gap: 2em;
}

#textarea-section {
    height: 10em;
}
  
#textarea-title {
    color: #2C4954;
    font-size: 14px;
    padding-top: 14px;
}
  
#textarea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 7px;
}
  
#submit {
    background-color: #607B7D;
    color: $background-color;
    padding: 7px;
    font-size: 17px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 1em;
}

#submit:hover {
    background-color: #3A606E;
}