@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');

$text-color: #3A606E;
$background-color: #E0E0E0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, $background-color, #CCCCCC);
    font-size: 1.2em;
    text-align: center;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

input,
select {
    padding: 0.3em;
    background-color: $background-color;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
    }

    &:focus {
        outline-color: $text-color;
    }
}

#title {
    background-image: linear-gradient(180deg, $text-color, #467586);
    padding: 10px;
    color: $background-color;
    font-size: 2em;
}

#description {
    margin: 1rem;
    font-size: 1em;
}

hr.rounded {
    margin: 2em 1em;
}

#first-section {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-section > label {
    font-weight: bold;
}

#name,
#email {
    width: 300px;
    max-width: 90%;
}

#number {
    margin-bottom: 7px;
    width: 2em;
}

// hide arrows in number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#radio {
    display: flex;
    justify-content: center;
    padding: 5px 0px 10px 0px;
}

.radio-choice {
    margin: 1em;

    label {
        font-size: 1em;
    }

    input {
        cursor: pointer;
        accent-color: $text-color;
        width: 1.2em;
        height: 1.2em;

        &:checked + label {
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
    }
}

#favorite-service {
   font-size: 1.4em;
   font-weight: bold;
   height: 10em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#dropdown {
    width: 300px;
    max-width: 90%;
    text-align: center;
    margin: 1em;
    border-radius: 5px;
}

#checkbox-area {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-choice {
    font-size: 1em;

    input {
        cursor: pointer;
        accent-color: $text-color;

        &:checked + label {
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
    }
}

#preferences-title {
    font-size: 1.4em;
    margin: 1em;
    font-weight: bold;
}

#preferences {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0.8em;
    grid-column-gap: 2em;
}

#textarea-section {
    height: 10em;
}
  
#textarea-title {
    padding-top: 14px;
}
  
#textarea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    max-width: 90%;
    height: 8em;
    padding: 0.3em;
    background-color: $background-color;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
    }

    &:focus {
        outline-color: $text-color;
    }
}
  
#submit {
    background-color: #607B7D;
    color: $background-color;
    padding: 7px;
    font-size: 17px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 1em;
    transition: 250ms;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: #3A606E;
        color: #fff;
    }
}

@media screen and (min-width: 551px) {
    body {
        background-image: linear-gradient(180deg, $text-color, #467586);
    }

    #main {
        width: 550px;
        background-image: linear-gradient(180deg, $background-color, #CCCCCC);
        display: block;
        margin: 1em auto;
        border-radius: 10px;
    }

    #title {
        background-image: linear-gradient(90deg, #89adb9, $background-color, #89adb9);
        color: $text-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #description {
        font-size: 0.8em;
        transform: translateY(1em);
    }

    #submit {
        transform: translateY(-1em);
    }
}